<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="content-type" content="text/ html;charset=utf-8" />
	<title>words in '{{ parentlist.label }}'</title>

	<scrSipt type="text/javascript" src="https://raw.github.com/GBKS/Wookmark-jQuery/master/jquery.wookmark.js"></script>
	<script type="text/javascript" src="https://raw.github.com/janl/mustache.js/master/mustache.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/jquery-autoresize.js"></script>
	<script type="text/javascript" src="/static/function.js"></script>
	
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css"></link>
	<link rel="stylesheet" type="text/css" href="/static/global.css"></link>
	<link rel="stylesheet" type="text/css" href="/static/buttons.css"></link>
	<link rel="stylesheet" type="text/css" href="/static/main.css"></link>

</head>
<body class="words">

	<div style="display: inline-block">
		<h2 style="display: inline; font-weight: lighter;">{{ parentlist.label }}</h2>
		{% if parentlist.description %}
		<h4 style="display: inline; font-weight: lighter; color: #666">« {{ parentlist.description }} »</h4>
		{% endif %}
		| <a href="/">back to lists</a>
	</div>
	<h5>last modified in: {{ parentlist.date_modified }}</h5>
	

	<div>
		<!-- ORDERBY -->
		<div class="orderby-box">
			<div><b>order by:</b>
			<select>
				<option value="created">created (oldest to newest)</option>
				<option value="modified">modified (oldest to newest)</option>
				<option value="word">word label</option>			
				<script>
				var options = document.querySelectorAll('.orderby-box select option');
				for (var i=0; i < options.length; i++)
					if (options[i].value === '{{ order_by }}') {
						options[i].selected = true;
						break;
					}
				</script>
			</select>
			</div>
			<button class="styled-button red small" onClick="location.replace('?order_by='+$('.orderby-box select').val())">Order</button>
		</div>
		<!-- /ORDERBY -->
		<button class="green styled-button" onClick="addWord({'list': {{parentlist.id}}})">Add Word</button>
	</div>

	<div id="div-wrapper">
	<ul id="words-wrapper" class="tags-wrapper words-wrapper"></ul>
	</div>
	
	<footer>
		<a href="/account">account panel</a> | <a href="/about">about this app</a> | <a href="/logout">logout</a>
	</footer>


<script type="text/template" id="edit-box">
	<div id="edit-wrapper" class="styled-box">
		<form onsubmit="return false;" data-id="[[id]]">
			<input type="hidden" name="id" value="[[id]]" />
			<input type="hidden" name="list" value="{{parentlist.id}}" />
			<div title="close" class="close-button" onClick="hideEditWrapper()"></div>
			<h2 class="box-title">Edit a Word:</h2>
			<div class="edit-field">
				<div class="edit-field-label">word:</div>
				<textarea autofocus name="word" class="edit-field-value">[[word]]</textarea>
				<div class="field-meaning" style="display: none"></div>
			</div>
			<div class="edit-field">
				<div class="edit-field-label">meaning:</div>
				<textarea name="meaning" class="edit-field-value">[[meaning]]</textarea>
			</div>
			<div class="edit-field">
				<div class="edit-field-label">origin:</div>
				<textarea name="origin" class="edit-field-value">[[origin]]</textarea>
			</div>
			<button id="b1" class="edit-button button blue unselectable" onClick="[[B1.func]](this.parentElement)">[[B1.label]]</button>
			<button id="b2" class="edit-button button red unselectable"	onClick="[[B2.func]](this.parentElement)">[[B2.label]]</button> //!
		</form>
		<div id="blackout"></div>
	</div>
</script>

<script type="text/template" id="word-tag-html">
	<li class="word wrapper">
		<a href="#" class="tag" onClick="editWord(this.parentElement); return false;">
			<span class="word-word">[[word]]</span>
		</a>
		<div class="attached-info">
			<b>meaning</b>: [[meaning]]
		</div>
	</li>
</script>

<script type="text/javascript">


	window._csrf_token = '{{ csrf_token }}';
	window._listid = {{parentlist.id}};
	window.wordpinHTML = $("script#word-tag-html")[0].innerHTML;
	window.words = {{serialized_words|safe}};
	window.getSortFunc = makeSortFuncGetter({
			'created':	function (obj) { return new Date(obj.created_on); },
			'modified': function (obj) { return new Date(obj.last_modified); },
		}, function (obj) { return obj.word.toLowerCase(); })


</script>
</body>
</html>