<!DOCTYPE html>

<html>
<head>

<meta http-equiv="content-type" content="text/ html;charset=utf-8" />
<title>Panel of Lists</title>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/jquery-autoresize.js" type="text/javascript"></script>
<script src="/static/function.js" type="text/javascript"></script>

<style type="text/css">

@import url(/static/global.css);
@import url(/static/buttons.css);

</style>
</head>

<!-- BODY -->

<body>

	<h2>Lists Panel</h2>
	
	<script>
	function goto_orderby() {
		var url = '?order_by='+$('#select_orderby').val();
		if ($("#orderby_reversed")[0].checked)
			url = url+'&reversed=1';
		location.replace(url);
	}
	</script>

	<div class="orderby-box">
		<div class="orderby">order by:
		<select id="select_orderby">
			<option value="created">created</option>
			<option value="modified">modified</option>
			<option value="listlabel">list label</option>
		</select>
		</div>
		<div class="reversed">reversed
			<INPUT id="orderby_reversed" TYPE="checkbox" NAME="" VALUE="reversed" />
		</div>
		<button class="styled-button red" onClick="goto_orderby()">Order</button>
	</div>



	<ul id="lists-wrapper" class="tags-wrapper" style="margin: 5px;">
	{% for list in lists %}
		<li class="list">
			<div class="tag" style="display: inline-block">
				<span class="list-label">{{ list.label }}</span>
				<input type="hidden" name="label" value="{{ list.label }}">
				<input type="hidden" name="description" value="{{ list.description }}">
				<input type="hidden" name="listid" value="{{ list.id }}">
			</div>
			<div class="auxiliar-tag edit-list">edit</div>
		</li>
		<!--
		<div class="secondary-info">
			<div class="title">>> origin:</div>
			<div class="content">
				blablalblalblblalalallalablablalblalblblalalallalablablalblalblblalalallalablablalblalblblalalallala
			</div>
		</div>
		-->
	{% empty %}
	{% endfor %}
	</ul>




	<button class="styled-button blue" onClick="make_add_list_box()">Add List</button>

	<footer>
		<a href="/account">account panel</a> | 
		<a href="/about">about this app</a> | 
		<a href="/logout">logout</a>
	</footer>

	<div id="blackout" style="display: none"></div>

<!-- ####SCRIPT#### -->

<script type="text/javascript">

$('.list .tag').click(function () { location.replace('/lists/'+$(this).find('input[name=label]').val()); })
$('.edit-list').click(function () { make_edit_list_box($(this).parent('.list')); })
$('.tag, .button, .auxiliar-tag, .styled-button').addClass('unselectable'); // do it in the html

// add no-lists-message?
if (!$("ul.tags-wrapper li")[0])
	show_no_tags_message("» no lists found");

{% for msg in flash_messages %}
	show_flash_message('{{ msg }}', {}, 8000+{{ forloop.counter }}*1000);
{% endfor %}

{% for error in flash_errors %}
	show_flash_message('{{ error }}', {'background': '#FB3F51'}, 8000+{{ forloop.counter }}*1000);
{% endfor %}

// 

function add_list_tag(form) { // adds a list tag to the list
	var list_tag_html = [
		'<li class="list">',
		'	<div class="tag" style="display: inline-block">',
		'		<span class="list-label unselectable">'+form['label']+'</span>',
		'		<input type="hidden" name="label" value="'+form['label']+'">',
		'		<input type="hidden" name="description" value="'+form['description']+'">',
		'		<input type="hidden" name="listid" value="'+form['listid']+'">',
		'	</div>',
		'	<div class="auxiliar-tag edit-list unselectable">edit</div>',
		'</li>',
		].join('');
	
	$("ul.tags-wrapper #no-tags-message").remove();
	$(list_tag_html)
		.hide()
			.appendTo('ul#lists-wrapper')
				.fadeIn();
	
	// add click functions
	var p = $("li.list input[name=listid][value="+form['listid']+"]").parent();
	p.click(function () { location.replace('/lists/'+$(this).find('input[name=label]').val()); });
	p.parent().find('.edit-list').click(function () { make_edit_list_box($(this).parent('.list')); });
}

function update_list_tag(form) { // updates the original list tag in the lists panel with new edited content
	var p = $("li.list input[name=listid][value="+form['listid']+"]").parent();
	p.find('.list-label').html(form['label']);
	$(['label', 'description']).each(function (index, item) {
		p.find("input[name="+item+"]").val(form[item]);
	});
}

function remove_list_tag(form) { // removes the original word tag from the list page
	var o = $("li.list input[name=listid][value="+form['listid']+"]");
	o.parent().parent().fadeOut( function() {
		$(this).remove();
		
		if (!$("ul.tags-wrapper li")[0]) // add 'no tags' message?
			show_no_tags_message("» no lists found");
		
	});
}


// HTML for Edit/Add-List boxes
var edit_word_box_html = ['<div id="edit-wrapper" class="styled-box">',

	'	<div title="close" class="close-button" onClick="remove_edit_list_box()"></div>',
	'   <h2 class="box-title">Edit a List:</h2>',
	'	<div class="edit-field" data-field="label">',
	'		<div class="edit-field-label">list name:</div>',
	'		<textarea class="edit-field-value"></textarea>',
	'	</div>',

	'	<div style="clear: both"></div>',
	'	<div class="edit-field" data-field="description">',
	'		<div class="edit-field-label">description:</div>',
	'		<textarea class="edit-field-value"></textarea>',
	'	</div>',

	'	<input type="hidden" name="listid" value="" />',
	'	<div style="clear: both"></div>',
	'	<div class="buttons">',
	'	<button class="edit-button button blue unselectable" id="save-button" onClick="update_list_db(\'{{csrf_token}}\')">Save</button>',
	'	<button class="edit-button button red unselectable" id="remove-button" onClick="remove_list_db(\'{{csrf_token}}\')">Remove</button>',
	'	</div>',

	'</div>'].join('');

var add_list_box_html = ['<div id="edit-wrapper" class="styled-box">',

	'	<div title="close" class="close-button" onClick="remove_add_list_box()"></div>',
	'   <div class="box-title">Add a List:</div>',

	'	<div class="edit-field" data-field="label">',
	'		<div class="edit-field-label">list name:</div>',
	'		<textarea class="edit-field-value"></textarea>',
	'	</div>',

	'	<div style="clear: both"></div>',
	'	<div class="edit-field" data-field="description">',
	'		<div class="edit-field-label">description:</div>',
	'		<textarea class="edit-field-value"></textarea>',
	'	</div>',

	'	<div style="clear: both"></div>',
	'	<div class="buttons">',
	'	<button class="edit-button button blue unselectable" id="add-button" onClick="add_list_db(\'{{csrf_token}}\')">Create List</button>',
	'	<button class="edit-button button red unselectable" id="cancel-button" onClick="remove_add_word_box()">Cancel</button>',
	'	</div>',
	'</div>'].join('');

</script>

</body>
</html>