<!DOCTYPE html>

<html>
<head>

	<meta http-equiv="content-type" content="text/ html;charset=utf-8" />
	<title>words in '{{ parentlist.label }}'</title>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js" type="text/javascript"></script>

	<script src="/static/js/bootstrap.js" type="text/javascript"></script>
	<script src="/static/js/jquery-autoresize.js" type="text/javascript"></script>
	<script src="/static/js/function.js" type="text/javascript"></script>

<style type="text/css">

@import url(/static/cssreset.css);
@import url(/static/bootstrap.css);
@import url(/static/buttons.css);
@import url(/static/global.css);

</style>
</head>

<!-- BODY -->

<body>

	<div style="display: inline-block">
		<h2 style="display: inline; font-weight: lighter;">{{ parentlist.label }}</h2>
		{% if parentlist.description %}
		<h4 style="display: inline; font-weight: lighter; color: #666">« {{ parentlist.description }} »</h4>
		{% endif %}
		| <a href="/">back to lists</a>
	</div>
	<h5>last modified in: {{ parentlist.date_modified }}</h5>
	

	<div>
		<!-- ORDERBY -->
		<div class="orderby-box">
			<div><b>order by:</b>
			<select>
				<option value="created">created (oldest to newest)</option>
				<option value="-created">created (newest to oldest)</option>
				<option value="modified">modified (oldest to newest)</option>
				<option value="-modified">modified (newest to oldest)</option>
				<option value="word">word label</option>
				<option value="-word">word label - inversed</option>
			
				<script>
				var options = document.querySelectorAll('.orderby-box select option');
				for (var i=0; i < options.length; i++)
					if (options[i].value === '{{ order_by }}') {
						options[i].selected = true;
						break;
					}
				</script>
			</select>
			</div>
			<button class="styled-button red small" onClick="location.replace('?order_by='+$('.orderby-box select').val())">Order</button>
		</div>
		<!-- /ORDERBY -->
		<button class="green styled-button" onClick="make_add_word_box()">Add Word</button>
	</div>


	<ul id="words-wrapper" class="tags-wrapper words-wrapper"></ul>

	<footer>
		<a href="/account">account panel</a> | <a href="/about">about this app</a> | <a href="/logout">logout</a>
	</footer>

	<div id="blackout" style="display: none"></div>
	
<!-- ####SCRIPT#### -->
<script type="text/javascript">

_csrf_token = '{{ csrf_token }}';

{% for msg in flash_messages %}
	show_flash_message('{{ msg }}', {'background': '#0FB05E'}, 8000+{{ forloop.counter }}*1000);
{% endfor %}

{% for error in flash_errors %}
	show_flash_message('{{ error }}', {'background': '#FB3F51'}, 8000+{{ forloop.counter }}*1000);
{% endfor %}

//

var words = [
{% for word in words %}
	{'word': '{{word.word}}', 'origin': '{{word.origin}}', 'meaning': '{{word.meaning}}', 'wordid': '{{word.id}}'},
{% endfor %}
];

var word_tag_html = '<li class="word wrapper" data-word="${word}" data-meaning="${meaning}" data-origin="${origin}" data-wordid="${wordid}">\
	<a href="#" class="tag primary-tag" onClick="make_edit_word_box(this.parentElement); return false;">\
		<span class="word-word">${word}</span>\
	</a>\
	<div class="attached-info">\
		<b>meaning</b>: \'${meaning}\'\
		</div>\
	</li>';

(function() {
	if (!words[0]) show_no_tags_message("» no words found");
	else
		for (var i=0; i<words.length; i++)
			add_word_tag(words[i]);
})();

//


function add_word_tag(form) { // adds a word tag to the words list in the html
	if (document.body.querySelector('ul.tags-wrapper #no-tags-message'))
		$("ul.tags-wrapper #no-tags-message").remove();
	$.tmpl(word_tag_html, form).appendTo('ul#words-wrapper');
}


function update_word_tag(form) {
	var p = document.body.querySelector('li.word[data-wordid="'+form['wordid']+'"]');
	$(p).html($.tmpl(word_tag_html, form));
}


function remove_word_tag(form) {
	var tag = document.body.querySelector("li.word[data-wordid='"+form['wordid']+"']");
	$(tag).fadeOut(function () {
		$(this).remove();
		if (!document.body.querySelector("ul.words-wrapper li"))
			show_no_tags_message("» no words found");
	})
}



// HTML for Edit/Add-Word boxes
var edit_word_box_html = '<div id="edit-wrapper" class="styled-box" data-wordid="${wordid}">\
	<div title="close" class="close-button" onClick="remove_edit_word_box()"></div>\
	<h2 class="box-title">Edit a Word:</h2>\
	<div class="edit-field" data-field="word">\
		<div class="edit-field-label">word:</div>\
		<textarea class="edit-field-value">${word}</textarea>\
	</div>\
	\
	<div class="edit-field" data-field="meaning">\
		<div class="edit-field-label">meaning:</div>\
		<textarea class="edit-field-value">${meaning}</textarea>\
	</div>\
	\
	<div class="edit-field" data-field="origin">\
		<div class="edit-field-label">origin:</div>\
		<textarea class="edit-field-value">${origin}</textarea>\
	</div>\
	\
	<button class="edit-button button blue unselectable" id="save-button"\
			onClick="update_word_db(this.parentElement, {{parentlist.id}}, _csrf_token)">Save</button>\
	<button class="edit-button button red unselectable" id="remove-button"\
			onClick="remove_word_db(this.parentElement, {{parentlist.id}}, _csrf_token)">Remove</button>\
	';

var add_word_box_html = '<div id="edit-wrapper" class="styled-box">\
	<div title="close" class="close-button" onClick="remove_add_word_box()"></div>\
	<div class="box-title">Add a Word:</div>\
	<div class="edit-field" data-field="word">\
		<div class="edit-field-label">word:</div>\
		<textarea class="edit-field-value"></textarea>\
	</div>\
	\
	<div class="edit-field" data-field="meaning">\
		<div class="edit-field-label">meaning:</div>\
		<textarea class="edit-field-value"></textarea>\
	</div>\
	\
	<div class="edit-field" data-field="origin">\
		<div class="edit-field-label">origin:</div>\
		<textarea class="edit-field-value"></textarea>\
	</div>\
	\
	<button class="edit-button button blue unselectable" id="add-button"\
			onClick="add_word_db(this.parentElement, {{parentlist.id}}, \'{{csrf_token}}\')">Add Word</button>\
	<button class="edit-button button red unselectable" id="cancel-button"\
			onClick="remove_add_word_box()">Cancel</button>\
	';


</script>

</body>
</html>