<!DOCTYPE html>

<html>
<head>

<meta http-equiv="content-type" content="text/ html;charset=utf-8" />
<title>words in '{{ parentlist.label }}'</title>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js" type="text/javascript"></script>
<script src="/static/js/jquery-autoresize.js" type="text/javascript"></script>
<script src="/static/function.js" type="text/javascript"></script>

<style type="text/css">

@import url(/static/global.css);
@import url(/static/buttons.css);

</style>
</head>

<!-- BODY -->

<body>

	<div style=" display: inline-block">
		<h2 style="display: inline; font-weight: lighter;">{{ parentlist.label }}</h2>
		<h4 style="display: inline; font-weight: lighter; color: #666">« {{ parentlist.description }} »</h4>
		| <a href="/">back to lists</a>
	</div>
	<h5>last modified in: {{ parentlist.date_modified }}</h5>
	

	<div>
		<!-- ORDERBY -->
		<div class="orderby-box">
			<div><b>order by:</b>
			<select onCshange="location.replace('?order_by='+$(this).val())">
				<option value="created">created (oldest to newest)</option>
				<option value="-created">created (newest to oldest)</option>
				<option value="modified">modified (oldest to newest)</option>
				<option value="-modified">modified (newest to oldest)</option>
				<option value="word">word label</option>
				<option value="-word">word label - inversed</option>
			
				<script>
				var options = document.querySelectorAll('.orderby-box select option');
				for (var i=0; i < options.length; i++)
					if (options[i].value === '{{ order_by }}') {
						options[i].selected = true;
						break;
					}
				</script>
			</select>
			</div>
			<button class="styled-button red small" onClick="location.replace('?order_by='+$('.orderby-box select').val())">Order</button>
		</div>
		<!-- /ORDERBY -->
		<button class="styled-button blue" onClick="make_add_list_box()">Add List</button>
	</div>


	<ul id="words-wrapper" class="tags-wrapper">
	{% for word in words %}
		<li class="word wrapper">
			<a href="#" class="tag primary-tag" onClick="make_edit_word_box(this); return false;">
				<span class="word-word">{{ word.word }}</span> 
				<input type="hidden" name="word" value="{{ word.word }}">
				<input type="hidden" name="meaning" value="{{ word.meaning }}">
				<input type="hidden" name="origin" value="{{ word.origin }}">
				<input type="hidden" name="wordid" value="{{ word.id }}">
			</a>
		</li>
	{% empty %}
	<script>
		show_no_tags_message("» no words found");
	</script>
	{% endfor %}
	</ul>

	<button class="green styled-button" onClick="make_add_word_box()">Add Word</button>

	<footer>
		<a href="/account">account panel</a> | 
		<a href="/about">about this app</a> | 
		<a href="/logout">logout</a>
	</footer>

	<div id="blackout" style="display: none"></div>
	
<!-- ####SCRIPT#### -->
<script type="text/javascript">

//

function add_word_tag(form) { // adds a word tag to the words list in the html
	$("ul.tags-wrapper #no-tags-message").remove();
	$.tmpl('<li class="word">\
			<a href="#" class="tag primary-tag" onClick="make_edit_word_box(this); return false;">\
				<span class="word-word">${word}</span>\
				<input type="hidden" name="word" value="${word}">\
				<input type="hidden" name="meaning" value="${meaning}">\
				<input type="hidden" name="origin" value="${origin}">\
				<input type="hidden" name="wordid" value="${wordid}">\
			</a>\
		</li>', form).hide().appendTo('ul#words-wrapper').fadeIn();
}

function update_word_tag(form) { // updates the original word tag in the page list with new edited content
	var p = $("li.word input[name=wordid][value="+form['wordid']+"]").parent();
	p.find('.word-word').html(form['word']);
	$(['word', 'meaning', 'origin']).each(function (index, item) {
		p.find("input[name="+item+"]").val(form[item]);
	});
}

function remove_word_tag(form) { // removes the original word tag from the list page
	var o = $("li.word input[name=wordid][value="+form['wordid']+"]");
	o.parent().parent().fadeOut( function() {
		$(this).remove();

		if (!$("ul.tags-wrapper li")[0]) // add 'no list' message?
			show_no_tags_message("» no words found");
	});
}


// HTML for Edit/Add-Word boxes
var edit_word_box_html = '<div id="edit-wrapper" class="styled-box">\
	<div title="close" class="close-button" onClick="remove_edit_word_box()"></div>\
	<h2 class="box-title">Edit a Word:</h2>\
	<div class="edit-field" data-field="word">\
		<div class="edit-field-label">word:</div>\
		<textarea class="edit-field-value"></textarea>\
	</div>\
	<div class="edit-field" data-field="meaning">\
		<div class="edit-field-label">meaning:</div>\
		<textarea class="edit-field-value"></textarea>\
	</div>\
	<div class="edit-field" data-field="origin">\
		<div class="edit-field-label">origin:</div>\
		<textarea class="edit-field-value"></textarea>\
	</div>\
	<input type="hidden" name="wordid" value="" />\
	<div style="clear: both"></div>\
	<div class="buttons">\
		<button class="edit-button button blue unselectable" id="save-button" onClick="update_word_db({{parentlist.id}},\'{{csrf_token}}\')">Save</button>\
		<button class="edit-button button red unselectable" id="remove-button" onClick="remove_word_db({{parentlist.id}}, \'{{csrf_token}}\')">Remove</button>\
	</div>';

var add_word_box_html = '<div id="edit-wrapper" class="styled-box">\
	<div title="close" class="close-button" onClick="remove_add_word_box()"></div>\
	<div class="box-title">Add a Word:</div>\
	<div class="edit-field" data-field="word">\
		<div class="edit-field-label">word:</div>\
		<textarea class="edit-field-value"></textarea>\
	</div>\
	<div class="edit-field" data-field="meaning">\
		<div class="edit-field-label">meaning:</div>\
		<textarea class="edit-field-value"></textarea>\
	</div>\
	<div class="edit-field" data-field="origin">\
		<div class="edit-field-label">origin:</div>\
		<textarea class="edit-field-value"></textarea>\
	</div>\
	<div class="buttons">\
	<button class="edit-button button blue unselectable" id="add-button" onClick="add_word_db({{parentlist.id}}, \'{{csrf_token}}\')">Add Word</button>\
	<button class="edit-button button red unselectable" id="cancel-button" onClick="remove_add_word_box()">Cancel</button>\
	</div>';


</script>

</body>
</html>