

/* global css for worddb prototype
*/

/*
* colors:;
* grayed blue: #456D82 (links)
* strong blue: #086FA1 (words/lists tags)
* blue green: #009999 (field outline)
*/

/***************************/
/* some smallish css reset */
/***************************/

* {
	margin: 0;
	padding: 0;
}

body { padding: 10px 10px 35px 10px; }
input { outline: none; }

a, a:link, a:active { color: #457DC2; }
a, a:link, a:visited, a:hover, a:active { text-decoration:none; }
a:hover { color: #222; }

li { displays: block; }

*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}


/*****************************************************/
/* general things */
/******************/

html {
	backgrounds: url(/static/images/bg.png);
	font-family: "Trebuchet MS", sans-serif;
	font-size: 13px;
}

textarea, input {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-family: "Trebuchet MS", sans-serif;
	text-align: justify;
}

#blackout {
	position: fixed; top: 0; bottom: 0; left: 0; right: 0; 
	background: black; 
	opacity: .6; }


footer {
	position: fixed;
	left: 0; right: 0; bottom: 0;
	line-height: 30px;
	color: white;
	background: #333;
	text-align: center;
	text-shadow: #000 0px 0px 3px;
	box-shadow: 0 0 10px #333;
}
footer a, footer a:link, footer a:active { color: #457DC2; }
footer a:hover { color: #74A5E1;}




#flash-messages-wrapper {
	position: absolute;
	top: 5px;
	right: 5px;
	text-align: right; }

	#flash-messages-wrapper li {
		background: #0FB05E;
		padding: 10px 15px;
		color: white;
		cursor: pointer;
		font-size: 15px;
		margin-bottom: 5px;
		display: block;
		clear: both;
		float: right; }


/*****************************************************/
/* page content */
/****************/

/**********/
/*  TAGS  */
/**********/

ul.tags-wrapper { display: table; }
ul.tags-wrapper li { list-style-type: none; margin-left: px; }
ul.tags-wrapper .tag { margin: 5px 0; }

.tag {
	width: 210px;
	padding: 10px;

	background: #086FA1;
	color: white;

	display: block;
	cursor: pointer; }
.tag:hover { background: #033E6B; }
.tag:active { position: relative; top: 1px; }


.auxiliar-tag {
	width: 200px;
	padding: 10px;
	margin-left: -3px;
	
	background: #00BB3F;
	color: white;

	display: inline;
	cursor: pointer;
}
.auxiliar-tag:hover { background: #007A29; }
.auxiliar-tag:active { position: relative; top: 1px; }

/* CHANGE THIS CLASS NAME */
.secondary-info {
	border: 1px solid #aaa;
	background: #ccc;
	padding: 5px;
	margin-bottom: 10px;
	color: #222;
}
.secondary-info .title {
	font-weight: bold;
	font-size: 15px;
}
.secondary-info .content {
	margin-left: 10px;
	max-width: 300px;
	overflow: hidden;
}

/****************/
/*  STYLED BOX  */
/****************/

.styled-box {
	position: absolute;
	background: rgba(64,64,64, 1);
	padding: 20px;
	border-radius: 12px; /* try to match close-button radius */
	text-align: left;

	width: 600px;
	top: 15%; left: 50%;
	margin-left: -300px;
}

	.styled-box .box-title {
		color: white;
		font-size: 18px;
		text-shadow: #000 0px 0px 3px; }

	.styled-box	.close-button {
			position: absolute;
			top: 0; right: 0;
			width: 24px; height: 24px;

			background: url(/static/close_button.png) no-repeat;
			opacity: 0.3;
			cursor: pointer; }
	.styled-box	.close-button:hover { opacity: 1; }

	.styled-box .buttons { margin-top: 10px; }


/* css for EDIT */

	.styled-box .edit-field {
		height: 100%;
		margin: 5px 0;
		padding: 5px;
		display: table; }
	.styled-box .edit-field:hover { background: rgba(0, 0, 0, 0.3) }

		.styled-box	.edit-field-label {
			width: 100px;
			padding: 13px 10px;
			font-size: 15px;
			color: white;
			float: left; }

		.styled-box .edit-field-value {
			background: white;
			width: 450px;
			padding: 13px 10px;
				
			font-size: 15px;
			height: 20px;

			float: right;
			text-align: justify;
			display: inline;
			
			resize: none;
			overflow: hidden; }
		.styled-box .edit-field-value:focus { outline: 3px solid #00A287; }

		.styled-box .edit-field .field-info {
			position: relative;
			background: #00a12b;
			margin: 0 -25px;
			top: 5px;
			padding: 5px 10px;
			color: white;
			clear: both;
			
			border: 1px solid #444;
			text-shadow: #333 0px 0px 2px; }
		.styled-box .edit-field .field-info a {
			text-shadow: 0;
			color: white;
			font-weight: bold;
		}
		.styled-box .edit-field .field-info a:hover { text-decoration: underline; }
		.styled-box .edit-field .field-info.error { background: #c60018; }

.styled-box.login-box { width: 370px; left: 50%; margin-left: -205px; padding: 15px;}
.styled-box.login-box .edit-field { margin-top: 5; }
.styled-box.login-box .edit-field-label { padding: 0 0 5px 0; width: 340px;}
.styled-box.login-box .edit-field-value { width: 340px; }


.orderby-box {
	display: table;
	background: #444;
	padding: 2px;
	border: 1px solid #444;
	border-radius: 2px;
}
.orderby-box div {
	color: #eee;
	display: inline-block;
	padding: 4px 7px;
	
	border-right: 1px solid white;

	font-weight: bold;
	margin-right: 7px;
}
.orderby-box select {
	padding: 2px 3px;
	color: white;
	border-radius: 2px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);

	-webkit-transition-duration: 0.2s;
	-webkit-transition-property: all;
	border-color: rgb(105, 105, 105);
	background-image: -webkit-linear-gradient(top, rgb(150, 150, 150), rgb(130, 130, 130)); }

	.orderby-box select:hover, .orderby-box select:focus {
		text-shadow: 0 1px rgba(0, 0, 0, 0.3); }

	.orderby-box select option { color: black; }