

/* global css for worddb prototype
*/

/*
* colors:;
* grayed blue: #456D82 (links)
* strong blue: #086FA1 (words/lists tags)
* blue green: #009999 (field outline)
*/

/***************************/
/* some smallish css reset */
/***************************/

* {
	margin: 0;
	padding: 0;
}

body { padding: 10px; }
input { outline: none; }

a, a:link, a:active { color: #456D82; }
a, a:link, a:visited, a:hover, a:active { text-decoration:none; }
a:hover { color: #222; }

li { displays: block; }

*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

/******************/
/* general things */
/******************/

html {
	backgrounds: url(/static/images/bg.png);
	font-family: "Trebuchet MS", sans-serif;
	font-size: 13px;
}

textarea, input {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-family: "Trebuchet MS", sans-serif;
	text-align: justify;
}

footer {
	position: absolute;
	width: 300px;
	left: 50%; 
	margin-left: -150px;
	bottom: 10px;
	text-align: center;
}

#blackout {
	position: fixed; top: 0; bottom: 0; left: 0; right: 0; 
	background: black; 
	opacity: .6; }


#flash-messages-wrapper {
	position: absolute;
	top: 5px;
	right: 5px;
	text-align: right; }

	#flash-messages-wrapper .flash-message {
		background: #0FB05E;
		padding: 10px 15px;
		color: white;
		cursor: pointer;
		font-size: 15px;
		margin-bottom: 5px;
		display: inline;
		clear: both;
		float: right; }


.tag {
	width: 210px;
	padding: 10px;
	margin: 4px 0px 4px 5px;

	background: #086FA1;
	color: white;

	display: block;
	cursor: pointer; }
.tag:hover { background: #033E6B; }
.tag:active { position: relative; top: 1px; }


.auxiliar-tag {
	width: 200px;
	padding: 10px;
	margin-left: -3px;
	
	background: #00BB3F;
	color: white;

	display: inline;
	cursor: pointer;
}
.auxiliar-tag:hover { background: #007A29; }
.auxiliar-tag:active { position: relative; top: 1px; }


.disabled-button, .disabled-button:hover { /* currently unused */
	color: #e9e9e9;
	border: solid 1px #555;
	background: #333; }
.disabled-button:active { color: #444; }


/****************/
/*  STYLED BOX  */
/****************/

.styled-box {
	position: absolute;
	background: rgba(64,64,64, 1);
	padding: 20px;
	border-radius: 10px;
	text-align: left;

	width: 600px;
	top: 15%; left: 50%;
	margin-left: -300px;
}

	.styled-box .box-title {
		color: white;
		font-size: 18px; }

	.styled-box	.close-button {
			position: absolute;
			top: 0; right: 0;
			width: 24px; height: 24px;

			background: url(/static/close_button.png) no-repeat;
			opacity: 0.3;
			cursor: pointer; }
	.styled-box	.close-button:hover { opacity: 1; }

	.styled-box .buttons { margin-top: 10px; }

/* css for EDIT */

	.styled-box .edit-field {
		height: 100%;
		margin: 5px 0;
		padding: 5px;
		display: table; }
	.styled-box .edit-field:hover { background: rgba(0, 0, 0, 0.3) }

	.styled-box	.edit-field-label {
		width: 100px;
		padding: 13px 10px;
		font-size: 15px;
		color: white;
		float: left; }

	.styled-box .edit-field-value {
		background: white;
		width: 450px;
		padding: 13px 10px;
			
		font-size: 15px;
		height: 20px;

		float: right;
		text-align: justify;
		display: inline;
		
		resize: none;
		overflow: hidden;
	}
	.styled-box .edit-field-value:focus { outline: 3px solid #00A287; }

.styled-box.login-box { width: 370px; left: 50%; margin-left: -205px; padding: 15px;}
.styled-box.login-box .edit-field { margin-top: 5; }
.styled-box.login-box .edit-field-label { padding: 0 0 5px 0; width: 340px;}
.styled-box.login-box .edit-field-value { width: 340px; }

* {	borde2r: 1px solid black; }

/***********************************/

.styled-button {
	padding: 5px 10px;
	color: white;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid transparent;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);

	-webkit-transition-duration: 0.2s;
	-webkit-transition-property: all; }

.styled-button.small {
	font-size: 13px;
	padding: 3px 5px;
}

.styled-button:hover {
	text-shadow: 0 1px rgba(0, 0, 0, 0.3); }



.styled-button:active {
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

/***/

	.styled-button.blue {
		border: 1px solid rgb(48, 121, 237);
		background-image: -webkit-linear-gradient(top, rgb(77, 144, 254), rgb(70, 125, 233)); }

	.styled-button.blue:hover, .styled-button.blue:focus, {
		background-image: -webkit-linear-gradient(top, rgb(77, 144, 254), rgb(51, 15, 215)); }

	/***/

	.styled-button.red {
		border: 1px solid rgb(153, 42, 27); /* #992A1B */
		background-image: -webkit-linear-gradient(top, rgb(221, 75, 57), rgb(209, 72, 54)); }
	
	.styled-button.red:hover, .styled-button.red:focus {
		background-image: -webkit-linear-gradient(top, rgb(221, 75, 57), rgb(203, 60, 45)); }
	
	/***/

	.styled-button.green {
		border: 1px solid rgb(0, 150, 60);
		background-image: -webkit-linear-gradient(top, rgb(29, 195, 29), rgb(0, 167, 43)); }
	
	.styled-button.green:hover, .styled-button.green:focus {
		background-image: -webkit-linear-gradient(top, rgb(29, 195, 29), rgb(0, 150, 34)); }

.styled-button:focus {
	border: 1px solid white; }

/***/

/* 
.styled-button.red {
	border: 1px solid transparent;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	text-transform: uppercase;
	background-color: #d14836;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#dd4b39), to(#d14836));
		background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
		background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
		background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
		background-image: -o-linear-gradient(top,#dd4b39,#d14836);
		background-image: linear-gradient(top,#dd4b39,#d14836); }
.styled-button.red:hover {
	border: 1px solid #b0281a;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: #c53727;
		background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#c53727));
		background-image: -webkit-linear-gradient(top,#dd4b39,#c53727);
		background-image: -moz-linear-gradient(top,#dd4b39,#c53727);
		background-image: -ms-linear-gradient(top,#dd4b39,#c53727);
		background-image: -o-linear-gradient(top,#dd4b39,#c53727);
		background-image: linear-gradient(top,#dd4b39,#c53727);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	-ms-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	-o-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
.styled-button.red:active {
	border: 1px solid #992a1b;
	background-color: #b0281a;
		background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#b0281a));
		background-image: -webkit-linear-gradient(top,#dd4b39,#b0281a);
		background-image: -moz-linear-gradient(top,#dd4b39,#b0281a);
		background-image: -ms-linear-gradient(top,#dd4b39,#b0281a);
		background-image: -o-linear-gradient(top,#dd4b39,#b0281a);
		background-image: linear-gradient(top,#dd4b39,#b0281a);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
*/