
body.login,
body.singin {
	text-align: center;
}

body.login .wrapper,
body.sigin .wrapper {
	position: relative;
	display: table;

	margin: 0 auto;
	top: 150px;
	background: rgba(254, 254, 254, 0.2);

	padding: 20px;
	border-radius: 15px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
	sborder: 1px solid #aaa;
}

body.words .header,
body.lists .header {
	margin-left: 30px;
}

#blackout {
	position: fixed;
	top: 0; bottom: 0; left: 0; right: 0; 
	background: rgba(0, 0, 0, .6);
	z-index: 1;
}

.tags-wrapper {
	display: table;
}

body.lists .tags-wrapper .pin {

}

.tags-wrapper .pin {
	position: relative;
	display: inline-block;
	background: #08C;
	padding: 13px;
	margin: 10px;
	width: 200px;

	cursor: pointer;
	color: white;
	text-shadow: 0 0 5px rgba(0, 0, 0, .3);
	font-weight: bold;
	box-shadow: 0 0 3px rgba(0, 0, 0, 1);

	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.tags-wrapper .pin:active {
	top: 1px;
}

.tags-wrapper .edit-button {
	right: 10px;
	top: 10px;
	position: absolute;	
}


/****/

.edit-wrapper {
	position: absolute;
	z-index: 1000;
	top: 15%;
	right: 50%;
	margin-right: -300px;
	width: 600px;
}

.edit-wrapper form {
	position: relative;
	z-index: 1001;
	background: white;
	border-radius: 10px;
	box-shadow: 0 0 10px #555;
	padding: 20px;
}

.edit-wrapper textarea.input-large {
	width: 350px;
}

.edit-wrapper .close {
	position: relative;
	top: -8px;
	right: -5px;
}

/****/


#flash-messages-wrapper {
	position: fixed;
	top: 5px;
	z-index: 10001;
	right: 5px;
	text-align: right; }

	#flash-messages-wrapper li {
		background: #ddd;
		padding: 10px 15px;
		color: #666;
		cursor: pointer;
		font-size: 15px;
		font-weight: lighter;
		margin-bottom: 5px;
		border: 1px solid #aaa;
		text-shadow: #aaa 0px 1px 1px;
		display: block;
		clear: both;
		float: right; }